<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Trending <b>Products</b></h2>
			<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="0">
			<!-- Carousel indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>   
			<!-- Wrapper for carousel items -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/11896110/2020/6/13/255b6d0d-f8f9-42f2-bb7e-8fb1f08a4b3d1592039989996-Roadster-Men-Shirts-8561592039988127-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Men White Regular Fit Solid Casual Shirt</h4>
									<p class="item-price"> <span>₹599</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/1015dcf6-bf31-44f2-5767-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/2042528/2017/9/28/11506599316866-Mast--Harbour-Men-Red--Blue-Regular-Fit-Checked-Casual-Shirt-7991506599316924-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Men Red & Blue Checked Casual Shirt</h4>
									<p class="item-price"> <span>₹799</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/0645e84e-b949-48dd-5771-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>		
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/8458745/2019/9/3/91bcb47d-e747-45b7-b563-95747c2c7f431567494154150-Sangria-Women-Blue-Printed-Top-861567494153072-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Women Blue Printed Top</h4>
									<p class="item-price"> <span>₹899</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/aa78708d-08ef-4cc3-5783-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>								
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/2496587/2020/7/14/a8a21f09-69ff-4835-9088-eafe1bb0fc9d1594714396263-HERENOW-Women-Black-Printed-Top-9751594714394871-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Women Little Tied Up Floral Top</h4>
									<p class="item-price"><span>₹599</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/ee787b76-1440-464e-5781-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<div class="row">
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/productimage/2020/9/9/a4d2774e-b2d6-49b0-83aa-f256f9bf4d711599604317684-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Women Grey Printed Top</h4>
									<p class="item-price"> <span>₹799</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/85fd142c-07dc-4544-5784-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/10212051/2019/7/16/b1887ceb-6c48-4bb5-b50f-8223a33076381563270580666-HERENOW-Women-Top-731563270577400-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Women Pink Solid Shirt Style Top</h4>
									<p class="item-price"> <span>₹899</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-half-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['d9a186ea-3497-4605-5788-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/productimage/2021/3/25/04e1c2ab-5557-4cfb-9852-fb32228f3c331616673829032-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4>Boys Green Printed T-shirt</h4>
									<p class="item-price"> <span>₹799</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/09c32de6-6bf2-45d3-579e-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>
						<div class="col-sm-3">
							<div class="thumb-wrapper">
								<div class="img-box">
									<img src="https://assets.myntassets.com/h_1440,q_90,w_1080/v1/assets/images/productimage/2020/8/6/832f1f78-183f-4011-9183-588d2ba4dbe01596697209503-1.jpg" class="img-fluid" alt="">
								</div>
								<div class="thumb-content">
									<h4> Pink Patterned Jersey Dress</h4>
									<p class="item-price"> <span>₹799</span></p>
									<div class="star-rating">
										<ul class="list-inline">
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star"></i></li>
											<li class="list-inline-item"><i class="fa fa-star-o"></i></li>
										</ul>
									</div>
									<a  [routerLink]="['/detail/d3430173-936e-4dd8-579a-08d90eae5a37']" routerLinkActive="active" class="btn btn-primary">Go To Product</a>
								</div>						
							</div>
						</div>						
					</div>
				</div>
				
			</div>
			<!-- Carousel controls -->
			<a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
				<i class="fa fa-angle-left"></i>
			</a>
			<a class="carousel-control-next" href="#myCarousel" data-slide="next">
				<i class="fa fa-angle-right"></i>
			</a>
		</div>
		</div>
	</div>
</div>


<!--second-->




