.thumbnail{
  margin-right: 20px;
  margin-left: 20px;
}

.headprod{

     padding-left: 8%;
}

col-sm-12 col-md-10 col-md-offset-1{
    margin-left: 10%;
    
}

.EmptyCart{
    width: 100%;
}
.EmptyCartImg{
    margin-left: 19%;
  width: 60%;
  height: 60%;
}