<div class="wrap">

    <div class="header">
        <span>Admin DashBoard</span>    
    </div>

<div class="container-lg">
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-8"><h2>Product <b>Details</b></h2></div>
                    <div class="col-sm-4">
                    <a [routerLink]="['/add']" routerLinkActive="active">
                        <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                    </a>
                    </div>
                </div>
            </div>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Gender</th>
                        <th>Category</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody  *ngFor="let p of prods">
                    
                    <tr >
                        <td>{{p.name}}</td>
                        <td>{{p.price}}</td>
                        <td>{{p.gender}}</td>
                        <td>{{p.mainCategory}}</td>
                        <td>
                             
                         

                            <a [routerLink]="['/edit/'+p.pid]" routerLinkActive="active"
                            class="edit" title="Edit" data-toggle="tooltip">
                            <i class="material-icons">&#xE254;</i></a>


                            
                        </td>
                    </tr>
               
                       
                </tbody>
            </table>
        </div>
    </div>
</div>  
<br>
<br>
<br>  
</div>

<router-outlet></router-outlet>




